# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environments
# ===============================
venv/
venv_311/
.env
.env.*

# ===============================
# Models (YOLO / ML)
# ===============================
*.pt
*.onnx
*.engine

# ===============================
# Recordings & Media
# ===============================
recordings/
src/recordings/
*.mp4
*.avi
*.mov
*.mkv
*.jpg
*.png

# ===============================
# Outputs
# ===============================
output/
src/output/
runs/

# ===============================
# Notebooks
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS
# ===============================
.DS_Store
